# =========================
# Frontend (React)
# =========================
node_modules/
build/
dist/

# =========================
# Backend (Flask / Python)
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Database files (if any local)
*.db
*.sqlite3

# Environment variables (VERY IMPORTANT)
.env

# Flask specific
instance/
.webassets-cache

# Logs
*.log

# =========================
# IDE / OS files
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db